.about-me {
  height: 1024px;
  display: flex;
  align-items: center;
  background-image: url("../images/backgrounds/Background-aboutme.png");
  background-repeat: no-repeat;
  background-position: center;
}

.about-me .circle {
  margin: 0 auto;
  max-width: 630px;
  height: 630px;
  padding: 20px;
  background: linear-gradient(144.11deg, #c961de 13.74%, #2954a3 90.91%);
  border-radius: 350px;
  display: grid;
  grid-template-columns: 280px 1fr;
  align-items: center;

  font: 400 1.1rem/1.4 "Poppins", sans-serif;
  color: var(--color-text1);

  position: relative;
}

.about-me .circle::after {
  content: "";
  width: 362px;
  height: 358px;
  background-image: url("../images/aboutme-detalhe.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -50px;
  right: -180px;
}

@media (max-width: 860px) {
  .about-me .circle::after {
    display: none;
  }
}

@media (max-width: 800px) {
  .about-me {
    background-image: none;
  }
}
